* {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;

}

.complete {
    text-decoration: line-through;
    color: #0000FF;
    flex-direction: row;
    display: inline-block;
}

.noComplete {
    color: #0000FF;
    flex-direction: row;
    display: inline-block;
}

.buy {
    border: none;
}

.nocheck {
    width: 20px;

}

.check {
    width: 20px;

}

.refuse {
    width: 18px;
}

.delete {
    border: none;
}

.edit {
    border: none;
}

.pencil {
    width: 20px;
}

.updateclick {
    border: none;
}

.update {
    width: 20px;
}