#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  justify-content: space-between;
}

.bg {
  background-image: url(../src/components/img/background.jpg);
  background-repeat: no-repeat;
  height: 900px; 
  background-size: 100%;
}

.container{
  padding-top: 200px;
  padding-left: 350px;
}

li::marker {
  color: #0000FF; 
  display: inline-block;
 }


 
